
<div id="comment-section" class="row">
    <div class="col-sm-7">
        <ul class="comments">
            <li class="comment">
                <div class="avatar">
                    <a href="javascript:void(0);">
                        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="55" height="55" alt="Sir_Pig photo avatar">
                    </a>
                </div>
                <div class="comment-body">
                    <header><a href="javascript:void(0);" class="userlink">Sir_Pig</a> - <span class="pubdate">posted 1 day ago</span></header>
                    <p>
                        Sed felis lorem, venenatis sed malesuada vitae, tempor vel turpis. Mauris in dui velit, vitae mollis risus.
                        Morbi id neque nisl, nec fringilla lorem. Duis molestie sodales leo a blandit. Mauris sit amet ultricies libero. Etiam quis diam in lacus molestie fermentum non vel quam.
                    </p>
                    <footer>
                        <a class="reply-link" href="#">Reply</a>
                    </footer>
                </div>
                <ul class="replies">
                    <li class="comment">
                        <div class="avatar"><a href="javascript:void(0);"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="55" height="55" alt="Sir_Pig photo avatar"></a></div>
                        <div class="comment-body">
                            <header><a href="javascript:void(0);" class="userlink">Sir_Pig</a> - <span class="pubdate">posted 1 day ago</span></header>
                            <p>Sed felis lorem, venenatis sed malesuada vitae, tempor vel turpis. Mauris in dui velit, vitae mollis risus.</p>
                            <p>Morbi id neque nisl, nec fringilla lorem. Duis molestie sodales leo a blandit. Mauris sit amet ultricies libero. Etiam quis diam in lacus molestie fermentum non vel quam.</p>
                            <footer>
                                <a class="reply-link" href="#">Reply</a>
                            </footer>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
